* {
  margin: 0px;
  padding: 0px;
}

body {
  background-size: 16px 16px;
}

.background-bottom,
.background-top {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      transparent 49px,
      rgb(204, 0, 204, 0.9),
      transparent 51px
    ),
    linear-gradient(
      90deg,
      transparent 49px,
      rgb(204, 0, 204, 0.9),
      transparent 51px
    ),
    linear-gradient(
      90deg,
      transparent 9px,
      rgba(0, 255, 0, 0) 10px,
      transparent 10px
    );
  background-size: 100px 100px;
  background-position: center;
}

.background-bottom {
  background-color: #000000;
  animation: horizontal 10s linear infinite;
}

.background-top {
  background-color: transparent;
  animation: diagonal 8s linear infinite;
}

@keyframes diagonal {
  from {
    background-position: bottom right;
  }
  to {
    background-position: top left;
  }
}

@keyframes horizontal {
  from {
    background-position: bottom right;
  }
  to {
    background-position: bottom left;
  }
}
/* comic-neue-700 - latin */
@font-face {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/comic-neue-v8-latin-700.woff2") format("woff2"),
    url("../fonts/comic-neue-v8-latin-700.woff") format("woff");
}

* {
  font-family: "Comic Neue", sans-serif;
  -webkit-text-stroke: 1.2px black;
}

.wrapper {
  font-size: 3rem;
  color: pink;
  padding-top: 10%;
  padding-left: 3%;
}
.guest-wrapper {
  font-size: 4rem;
}

a {
  color: pink;
  text-decoration: none;
}
.cat {
  height: 20rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.guestbook-entry {
  transform: translateY(-10%);
  color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.enter {
  height: 4rem;
}

.frame-containter {
  transform: translateY(-10%);
}

.frame {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@import url(https://fonts.googleapis.com/css?family=ComicSans);
/* BODY */
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  height: 100%;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(200deg, skyblue 0%, steelblue 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
::selection {
  background: transparent;
}
/* CLOUDS */
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, .6),
              200px 0 200px 150px rgba(255, 255, 255, .6),
              -250px 0 300px 150px rgba(255, 255, 255, .6),
              550px 0 300px 200px rgba(255, 255, 255, .6),
              -550px 0 300px 200px rgba(255, 255, 255, .6);
}
/* JUMP */
h1 {
  cursor: default;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;
  
  -webkit-animation: bounce .3s ease infinite alternate;
  
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}



